<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update</title>
<meta charset="UTF-8"/>
</head>
<body>
<div th:include="header"></div>
<div style="border-bottom:1px dotted; height:40px">
	<div style="position:absolute; padding:10px">
		<a href="menu">[メニュー]</a>&nbsp;&nbsp;
		<a href="insert">[書籍登録]</a>&nbsp;&nbsp;
		<a href="list">[書籍一覧]</a>
	</div>
	<div style="font-size:20px; text-align:center; padding:8px">書籍変更</div>
</div>
<br>
<div align="center">
<form action="update" method="post">
<input type="hidden" name="isbn" th:value="${select.isbn}">
<table>
	<tr align="center">
		<td></td>
		<td style="width:150px; border: solid 1px gray">&lt;&lt;変更前情報&gt;&gt;</td>
		<td style="width:150px; border: solid 1px gray">&lt;&lt;変更後情報&gt;&gt;</td>
	</tr>
	<tr align="left">
		<td style="width:80px; border: solid 1px gray">&nbsp;ISBN</td>
		<td style="border: solid 1px silver">&nbsp;<span th:text="${select.isbn}"></span></td>
		<td style="border: solid 1px silver">&nbsp;<span th:text="${select.isbn}"></span></td>
	</tr>
	<tr align="left">
		<td style="width:80px; border: solid 1px gray">&nbsp;Title</td>
		<td style="border: solid 1px silver">&nbsp;<span th:text="${select.title}"></span></td>
		<td style="border: solid 1px silver">
			<input type="text" required="required" name="title" size="20" style="border: 0px">
		</td>
	</tr>
	<tr align="left">
		<td style="width:80px; border: solid 1px gray">&nbsp;価格</td>
		<td style="border: solid 1px silver">&nbsp;<span th:text="${select.price}"></span>円</td>
		<td style="border: solid 1px silver">
			<input type="number" required="required" name="price" size="20" style="border: 0px">
		</td>
	</tr>
	<tr>
		<td colspan ="3" align="center">
			<br><input type="submit" value="変更完了">
		</td>
	</tr>
</table>
</form>
</div>
<div th:include="footer"></div>
</body>
</html>